<section id="about" class="about">
  <div class="wrapper">
    <h1 class="sr-only">Info</h1>
    <article>
    <h1><span class="highlight">¿Qué es el VLCTechFest?</span></h1>
      <p>VLCTechFest reúne a profesionales del desarrollo de software para compartir prácticas y experiencias y mejorar así sus habilidades.</p>
      <p>
        Nuestros objetivos son claros:
        <ul>
          <li><strong>Compartir</strong> buenas prácticas y tendencias en desarrollo de software profesional.</li>
          <li><strong>Conectar</strong> a los diferentes actores en la industria del desarrollo de software en Valencia.</li>
          <li><strong>Involucrar</strong> a colectivos e individuos en la organización y programación del festival.</li>
        </ul>
      </p>
    </article>

    <article>
      <h1><span class="highlight">Envía tu propuesta</span></h1>
      <p>¿Quieres compartir con el resto de la comunidad tu experiencia o lo último que has aprendido? Anímate a enviar una propuesta para una de nuestras sesiones. Si tienes cualquier duda no dudes en ponerte en contacto con nosotros</p>
      <a class="button" target="_blank" href="{{ site.data.t[page.lang].news.cfp_open.url }}">
          {{ site.data.t[page.lang].news.cfp_open.button }}
      </a>
    </article>

  </div>
</section>
