<section id="about" class="about">
    <div class="wrapper">
      <h1 class="sr-only">Info</h1>
      <article>
        <h1>Que és el VLCTechFest?</h1>
        <p>VLCTechFest reuneix professionals del desenvolupament de software per a compartir pràctiques i experiències, millorant així les seues habilitats.</p>
        <p>
          Els nostres objectius són clars:
          <ul>
            <li><strong>Compartir</strong> bones pràctiques i tendències en desenvolupament de software professional.</li>
            <li><strong>Connectar</strong> els diferents actors en la indústria del desenvolupament de software a València.</li>
            <li><strong>Involucrar</strong> a col·lectius i individus en l'organització i programació del festival.</li>
          </ul>
        </p>
      </article>

      <article>
        <h1>Envia la teua proposta</h1>
        <p>Vols compartir amb la resta de la comunitat la teua experiència o l'últim que has aprés? Anima't a enviar una proposta per a una de les nostres sessions. Si tens qualsevol dubte no dubtes a posar-te en contacte amb nosaltres</p>
        <a class="button" target="_blank" href="{{ site.data.t[page.lang].news.cfp_open.url }}">
            {{ site.data.t[page.lang].news.cfp_open.button }}
        </a>
      </article>

    </div>
  </section>

