<section id="about" class="about">
    <div class="wrapper">
      <h1 class="sr-only">What is it?</h1>
      <article>
      <h1><span class="highlight">What is VLCTechFest?</span></h1>
        <p>VLCTechFest brings together software development professionals to share practices and experiences and thus improve their skills.</p>
        <p>Our objectives are clear: </p>
          <ul>
            <li><strong>Share</strong> good practices and trends in professional software development.</li>
            <li><strong>Connect</strong> the different actors in the software development industry in Valencia.</li>
            <li><strong>Involve</strong> collectives and individuals in the organization and programming of the conference.</li>
          </ul>
      </article>
    </div>
</section>
<section id="cfp" class="cfp">
    <div class="wrapper">
      <article>
        <h1><span class="highlight">Call for papers</span></h1>
        <p>Whether you've given a talk, organized or participated in a meetup or not - join VLCTechFest with your talk!</p>

        <p>We are looking for  sessions or talks intended for a technical audience even if they don't have the knowledge of that particular technology or tool. The optimal length of the talk would be app. 30 minutes + 15 minutes for questions (45 minutes total).</p>

        <p>The deadline for submission of proposals is 3rd March 2019. Shortly afterwards we will let you know if your talk has been accepted. Even if only one talk per speaker will be accepted, you can send as many proposals as you like.</p>


        <a class="button" target="_blank" href="{{ site.data.t[page.lang].news.cfp_open.url }}">
            {{ site.data.t[page.lang].news.cfp_open.button }}
        </a>
      </article>

    </div>
  </section>

