<section class="about">
  <div class="wrapper">
    <article>
      <h1>¿Qué es el VLCTechFest?</h1>
      <p>VLCTechFest reúne a profesionales del desarrollo de software para compartir prácticas y experiencias y mejorar así sus habilidades.</p>
      <p>
        Nuestros objetivos son claros:
        <ul>
          <li><strong>Compartir</strong> buenas prácticas y tendencias en desarrollo de software profesional.</li>
          <li><strong>Conectar</strong> a los diferentes actores en la industria del desarrollo de software en Valencia.</li>
          <li><strong>Involucrar</strong> a colectivos e individuos en la organización y programación del festival.</li>
        </ul>
      </p>
    </article>

    <article>
      <h1>¿Quién lo organiza?</h1>
      <p>VlcTechHub promueve y fomenta las distintas comunidades tecnológicas de Valencia. Para ello cuenta con una <a target="_blank" href="https://vlctechhub.org/events/upcoming">agenda de eventos,</a> <a target="_blank" href="https://vlctechhub.org/events/upcoming">un tablón de ofertas de trabajo,</a> <a target="_blank" href="https://vlctechhub.org/events/upcoming">un chat</a> donde la comunidad puede compartir y el evento <strong>VLCTechFest.</strong></p>
    </article>

    <article>
      <h1>Envía tu propuesta</h1>
      <p>¿Quieres compartir con el resto de la Comunidad tu experiencia o lo último que has aprendido? Animate a enviar una propuesta para una de nuestras sesiones. Si tienes cualquier duda no dudes en <a href="#contact">ponerte en contacto</a> con nosotros</p>
      <a class="button" target="_blank" href="{{ site.data.t[page.lang].news.cfp_open.url }}">
          {{ site.data.t[page.lang].news.cfp_open.button }}
      </a>
    </article>

    <article>
      <h1>¿Qué otras formas tengo de participar?</h1>
      <p>Puedes participar de muchas formas: animando a tus amigos y compañeros a presentar propuestas, ayudándonos a difundir el evento, echando una mano en la organización del evento,... o simplemente asistiendo. Ven a disfrutar con otros profesionales e interesados en la tecnología de un evento echo por y para nosotros.</p>
    </article>
  </div>
</section>
