<section id="about" class="about">
    <div class="wrapper">
      <h1 class="sr-only">Info</h1>
      <article>
      <h1><span class="highlight">What is the VLCTechFest?</span></h1>
        <p>VLCTechFest brings together software development professionals to share practices and experiences and thus improve their skills.</p>
        <p>Our objectives are clear:
          <ul>
            <li><strong>Share</strong> good practices and trends in professional software development.</li>
            <li><strong>Connect</strong> the different actors in the software development industry in Valencia.</li>
            <li><strong>Involve</strong> collectives and individuals in the organization and programming of the conference.</li>
          </ul>
        </p>
      </article>

      <article>
        <h1>Submit your proposal</h1>
        <p> Do you want to share your experience or the last thing you have learned with the rest of the community? Go ahead and send a proposal for one of our sessions. If you have any questions do not hesitate to contact us</p>
        <a class="button" target="_blank" href="{{ site.data.t[page.lang].news.cfp_open.url }}">
            {{ site.data.t[page.lang].news.cfp_open.button }}
        </a>
      </article>

    </div>
  </section>

