<section id="about" class="about">
  <div class="wrapper">
    <h1 class="sr-only">¿Qué es?</h1>
    <article>
    <h1><span class="highlight">¿Qué es VLCTechFest?</span></h1>
      <p>
      Es un día de charlas por y para las comunidades tecnológicas de la Comunidad Valenciana. Es un día para descubrir, conectar y compartir.</p>

      <p>Un formato de conferencia con varios tracks simultáneos con charlas para todos los gustos, con tiempo para preguntas y espacio para el networking.</p>

      <p>Un festival donde el foco está en la participación, por lo que es un evento gratuito y de acceso libre sin entrada hasta completar aforo. La primera edición 2018 fue todo un éxito y mas de 120 asistentes pasaron por VLCTechFest. </p>
      <p>
      ¡Te esperamos!
      </p>
    </article>
  </div>
</section>
<section id="cfp" class="cfp">
  <div class="wrapper">
    <article>
      <h1><span class="highlight">Call for papers</span></h1>
      <p>
      Tanto si has dado una charla en algún meetup como si todavía no lo has hecho, ¡anímate a proponer una charla! </p>
      <p>
      Buscamos sesiones o charlas de divulgación que lleguen a un público técnico aunque no tengan el conocimiento de esa tecnología o herramienta concreta. De <strong>30 minutos</strong> de duración con 15 minutos para preguntas (45 minutos en total).
      </p>
      <p>
      El plazo de presentación de propuestas termina el día <strong>3 de marzo</strong>. Poco después te comunicaremos si tu charla ha sido aceptada. Se aceptará una charla como máximo por ponente, pero puedes mandar todas las propuestas que quieras.
      </p>
      <a class="button" target="_blank" href="{{ site.data.t[page.lang].news.cfp_open.url }}">
          {{ site.data.t[page.lang].news.cfp_open.button }}
      </a>
    </article>

  </div>
</section>
