<section id="about" class="about">
    <div class="wrapper">
      <h1 class="sr-only">Que és?</h1>
      <article>
      <h1><span class="highlight">Que és VLCTechFest?</span></h1>
        <p>VLCTechFest reuneix professionals del desenvolupament de software per a compartir pràctiques i experiències, millorant així les seues habilitats.</p>
        <p>
        Els nostres objectius són clars:</p>
          <ul>
            <li><strong>Compartir</strong> bones pràctiques i tendències en desenvolupament de software professional.</li>
            <li><strong>Connectar</strong> els diferents actors en la indústria del desenvolupament de software a València.</li>
            <li><strong>Involucrar</strong> a col·lectius i individus en l'organització i programació del festival.</li>
          </ul>
      </article>
    </div>
</section>
<section id="cfp" class="cfp">
    <div class="wrapper">
      <article>
        <h1><span class="highlight">Call for papers</span></h1>
        <p>Tant si ja has donat una xarrada en algun meetup com si encara no ho has fet, anima’t a proposar una xarrada!</p>
        <p>
        Busquem sessions o xarrades de divulgació dirigides a un públic tècnic, malgrat que no tinguen coneixement d'aquesta tecnologia o eina en concret. De <strong>30 minuts</strong> de duració, amb 15 minuts per a preguntes (45 minuts en total).</p>

        <p>El termini de presentació de propostes acaba el dia <strong>3 de Març</strong>. Poc després et comunicarem si la teua xarrada ha sigut acceptada. S’acceptarà una xarrada com a màxim per ponent, però pots enviar totes les propostes que vullgues.</p>
        </p>
        <a class="button" target="_blank" href="{{ site.data.t[page.lang].news.cfp_open.url }}">
            {{ site.data.t[page.lang].news.cfp_open.button }}
        </a>
      </article>

    </div>
  </section>

