<section id="communities" class="communities">
  <div class="wrapper">
    <h1>Comunidades:</h1>
    <ul>
      {% for community in site.data.communities %}
        <li>
          <img src="{{ site.path.community_images }}{{ community.image }}" alt="{{ site.data.t[page.lang].communities.logo_from }} {{ community.name }}" title="{{ community.name }}">
          <ul class="links">
            {% for link in community.links %}
              {% assign parts = link | split: "/" %}
              {% assign domain = parts[2] %}
              {% case domain %}
                {% when 'twitter.com' %} {% assign service = "twitter" %}
                {% when 'facebook.com' %} {% assign service = "facebook" %}
                {% when 'www.instagram.com' %} {% assign service = "instagram" %}
                {% when 'www.linkedin.com' %} {% assign service = "linkedin" %}
                {% when 'www.meetup.com' %} {% assign service = "meetup" %}
                {% when 'github.com' %} {% assign service = "globe" %}
                {% else %} {% assign service = "other" %}
              {% endcase %}

              <a href="{{ link }}" target="_blank">
                <i class="fa fa-twitter">{{ service }}</i>
              </a>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>
