<section id="location">
    <iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=-0.3396615386009217%2C39.458446003708824%2C-0.3363007307052613%2C39.45954588995637&amp;layer=mapnik&amp;marker=39.458495954751086%2C-0.33798113465309143" style="border: 1px solid black"></iframe>
    <div class="wrapper">
      <h1>Localización:</h1>
      <div>
        <b>Centro de innovación Las Naves</b>
        <address>Calle Joan Verdeguer, 16-24.<br>46024, Valencia</address>
        <small><a href="https://www.openstreetmap.org/?mlat=39.45850&amp;mlon=-0.33798#map=19/39.45850/-0.33798&amp;layers=N">Ver mapa más grande</a></small>
      </div>
      <br>
      <div>
        <p>Puedes llegar <strong>en bici</strong> o en alguno de los siguientes <strong>autobuses: 4, 19, 30, 92</strong>.</p>
        <p>La parada de <strong>metro Maritim-Serreria (L5/6/7/8)</strong> queda a 10 minutos andando.</p>
        <p>Si vas en coche no deberías tener problema en aparcar por la zona.</p>
        </div>
    </div>
  </section>
