<section id="location" class="location">
  <div class="wrapper">
    <h1>Localización</h1>
    <p> El evento se celebra en el Centro de Innovación Las Naves.</p>
    <p>El track principal tiene tres salas: Biblioteca (aforo 80 personas), Visual Room (aforo 30 personas) y Factoría (aforo 48 personas). El track familiar se realiza en la sala Think Tank y en uno de los patios.
    </p>
    <p>Puedes venir a Las Naves en metro: la parada Maritim-Serreria queda a 10 minutos andando.</p>
    <p><address>Calle Joan Verdeguer, 16-24. 46024, Valencia</address></p>
    <p><a class="button" href="https://www.google.es/maps/dir//Las+Naves,+Calle+de+Juan+Verdeguer,+Valencia/@39.458737,-0.3729735,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0xd6048f63da49ce1:0x37b1bcba9ad9547a!2m2!1d-0.337954!2d39.458676" target="_blank">Cómo llegar</a></p>
  </div>
  <div class="map">
    <a target="_blank" href="https://www.google.com/maps/dir//las+naves,+valencia,+spai/"><img src="https://maps.googleapis.com/maps/api/staticmap?center=39.4589034,-0.3351373&zoom=15&scale=2&size=640x150&markers=size:tiny%7Ccolor:red%7Clabel:VTF%7CLas+Naves,Valencia,Spain&maptype=roadmap&key=AIzaSyBCtmF-UkRhoJKiVB-gQiJwL5fQgPg1_hQ&format=png&visual_refresh=true" alt="Google Map of las naves, valencia, spai"></a>
  </div>
</section>
