<section id="location" class="location">
  <div class="wrapper">
    <h1 class="sr-only">Localización</h1>
    <div>
      <h1>Centro Cultural Las Naves</h1>
      <address>Calle Joan Verdeguer, 16-24. 46024, Valencia</address>
    </div>
  </div>
  <div class="map">
    <a target="_blank" href="https://www.google.com/maps/dir//las+naves,+valencia,+spai/"><img src="https://maps.googleapis.com/maps/api/staticmap?center=39.4589034,-0.3351373&zoom=15&scale=2&size=640x150&markers=size:tiny%7Ccolor:red%7Clabel:VTF%7CLas+Naves,Valencia,Spain&maptype=roadmap&key=AIzaSyBCtmF-UkRhoJKiVB-gQiJwL5fQgPg1_hQ&format=png&visual_refresh=true" alt="Google Map of las naves, valencia, spai"></a>
  </div>
</section>
