{%- assign sessions = site.data.t[page.lang].sessions -%}
<section id="sessions">
  <div class="container">
    <h1>{{ sessions.title }}</h1>
    <ul class="sessions">
      {% assign time = "" %}
      {%- for session in site.data.sessions -%}
        {% if time != session.startTime %}
          {% if time != "" %}</ul></li>{%- endif -%}
          <li>
            <p>
              <span class="start">{{session.startTime}}</span>
              <span class="end">{{session.endTime}}</span>
            </p>
            <ul>
          {% assign time = session.startTime %}
        {%- endif -%}
        <li>
          <p class="title">{{session.title}}</p>
          <ul>
            {%- for speaker in session.speaker -%}
              <li>{{speaker.name}}</li>
            {%- endfor -%}
          </ul>
          <p class="room">Sala: <span>{{session.room}}</span></p>
          <p class="description">{{session.description}}</p>
        </li>
      {%- endfor -%}
      </ul></li>
    </ul>
  </div>
</section>

<script>
  var nodes = document.querySelectorAll('ul.sessions>li>ul>li');
  function toggleOpen(){
    this.classList.toggle('open');
    window.scrollTo({top:this.offsetTop});
  };
  nodes.forEach((node) => node.addEventListener('click', toggleOpen));
</script>
