{%- assign upfront = site.data.upfront[page.lang] -%}
<section id="upfront">
  <div class="wrapper">
    <div class="big-title"><p>Siéntate #upfront</p></div>
    <div class="description">
      <p>
      Para aquellos de nosotros que asistimos o hablamos en conferencias; ¿Con qué frecuencia vemos que los mismos oradores presentan el mismo contenido una y otra vez? ¿Con qué frecuencia vemos a un panel de hombres blancos de clase media debatiendo temas que nos afectan a todos? ¿Con qué frecuencia eres la única persona de tu raza o condición en la audiencia? Con demasiada frecuencia. Sin embargo, para mucho de nosotros la posibilidad de dar un discurso frente a un grupo de extraños es un tema que nos produce pesadillas. El <a href="http://weareupfront.com/about/" target="_blank">sofá #upfront</a> se sienta en el escenario, frente a la audiencia y es un lugar para que los #upfront o aspirantes a ponentes experimenten la sensación de <strong>estar en el escenario sin la presión de presentar.</strong>
      </p>

      <p><strong>Todo comienza contigo</strong>. Tal vez quieras salir de su zona de confort, quizás estés trabajando en tu confianza o quizás tengas sudores fríos ante la idea de presentar, pero sientes que tienes algo que compartir. En cualquier caso, ésta es tu oportunidad de practicar estar en el escenario.
      </p>

      <p>
      Al ser #upfront, te estás uniendo a una red de personas de todo el mundo que encuentran la confianza para contar su historia. #upfront te permite aprender de los mejores desde un asiento de primera fila. Verás cómo el ponente se prepara, da la charla, celebra y todo lo que hay entre medias. Saludarás a la audiencia desde un <strong>espacio seguro y cómodo donde podrás aprender</strong> cosas nuevas. Al ser #upfront, estás galvanizando a otros para que también sean valientes.
      </p>
      <p> <strong>Mándanos un mail a <a href="mailto:hola@vlctechfest.org">hola@vlctechfest.org</a></strong> para ser un #upfront en VLCTechFest. </p>
      <p><iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/xMOeekRg80s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
  </div>
    </div>
  </div>
</section>
