<meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@vlctechfest" />
  <meta name="twitter:title" content="VLCTechFest 2019" />
  <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description[page.lang] }}{% endif %}" />
  <meta name="twitter:image" content="{{ site.share_image[page.lang] | prepend: site.path.images  | prepend: site.baseurl | prepend: site.url }}" />
