<meta property="og:title" content="VLCTechFest 2019" />
  <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description[page.lang] }}{% endif %}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://vlctechfest.org/{{ page.lang }}/" />
  <meta property="og:image" content="{{ site.share_image[page.lang] | prepend: site.path.images  | prepend: site.baseurl | prepend: site.url }}" />
  <meta property="og:locale" content="{{ site.locale[page.lang] }}" />
