/**
 * Site header
 */
.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 48px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 48px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid white;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: white;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    color: #ccc;
    background-color: #111;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 15px;
    margin-bottom: $spacing-unit / 2;
}

.footer-col-wrapper {
    font-size: 15px;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;

    a {
      color: #ccc;
      text-decoration: underline;
    }
}
.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;

    a, a:hover {
      text-decoration: none;
    }
}


.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col:nth-child(1) {
    padding-right: 5%;
    width: -webkit-calc(60% - (#{$spacing-unit} / 2));
    width:         calc(60% - (#{$spacing-unit} / 2));
}

.footer-col:nth-child(2) {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}
footer a:hover{
    color: $brand-color;
    text-decoration: underline;
}


@include media-query($on-laptop) {
    .footer-col:nth-child(n) {
        padding-right: auto;
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}



/**
 * Utilities
 */
.mobile {
    display: none;
    @include media-query($on-palm) {
        display: inherit;
    }
}
.desktop {
    display: inherit;
    @include media-query($on-palm) {
        display: none;
    }
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}



/**
 * Secondary Template Pages
 */
.breadcrumbs {
    margin-top: $spacing-unit;
    li {
        display: inline;
    }
    .separator {
        &:before {
            content: "»"
        }
    }
}



/**
 * Home Sections
 */

#about {
  @extend .section-white;
}

#sessions {
  @extend .section-pink;
}

#speakers {
  @extend .section-purple;
}

#diversity {
  @extend .section-blue;
}

#coc {
  @extend .section-pink;
}

#communities {
  @extend .section-white;
}

#location {
  @extend .section-blue;
}

#faq {
  @extend .section-pink;
}

#companies {
  @extend .section-purple;
}

.main{
    background-color: transparent;
    color: white;
    fill: white;
    text-align: center;
    .wrapper {
        .vtf-logo {
            margin: 0 auto;
            max-height: 300px;
            max-width: 100%;
            svg {
                height: 100%;
                width: 100%;
            }
        }
        >p {
            font-size: 1.5em;
            @include media-query($on-palm) {
                font-size: 1em;
                &:first-child{
                    font-size: 1.3em; margin-bottom: 0px;
                }
            }
        }
        .news {
            background-color: rgba(0,0,0,.4);
            display: inline-block;
            padding: $spacing-unit;
            margin: $spacing-unit auto;
            >* {
                margin: 0 $spacing-unit / 2 0 auto;
                display: inline-block;
                &:last-child {
                    margin: 0 auto;
                }
            }
            @include media-query($on-palm) {
                >* {
                    margin: 0 auto $spacing-unit / 2 auto;
                }
            }
        }
    }
}

/**
 * Header
 */
.site-header{
    background-color: var(--pink);
    // Positioning context for the mobile navigation icon
    position: relative;
    .site-nav {
        color: black;
        width: 100%;
        .trigger {
            min-width: 200px;
            padding-bottom: 0;
        }
        ul {
            display: inline-block;
            margin-bottom: 0;
        }
        li {
            display: inline;
            a{
                color: white;
                svg path { fill: white; }
               padding: $spacing-unit / 5;
                margin: $spacing-unit / 10;
                text-decoration: none;
                &.youtube,
                &.twitter {
                    display: inline-block;
                    line-height: 25px;
                    border-radius: 5px;
                    > .username,
                    > .url {
                        display: none;
                    }
                    &:hover {
                        border: none;
                        svg path {
                            fill: var(--pink);
                        }
                        &.youtube {
                            background-color: white;
                        }
                        &.twitter {
                            background-color: white;
                        }
                    }
                }
                &.active {
                    border-bottom: 2px dotted var(--blue);
                }
                &:hover {
                    border-bottom: 2px solid var(--blue);
                }
            }
        }
        .languages {
            float: right;
        }
    }
    @include media-query($on-palm) {
        background-color: $brand-color;
        border: none;
        margin-bottom: -1px;
        .site-title {
            display: none;
        }
        .site-nav {
            width: auto;
            .trigger > div{
                display: grid;
                grid-template-areas:
                "languages"
                "sections"
                "social";
                ul {
                    display: block;
                    margin: 0;
                    li {
                        text-align: center;
                        padding: 0;
                        a {
                            display: inline-block;
                            margin: 0;
                            width: 100%;
                            height: 100%;
                            box-sizing: border-box;
                        }
                    }
                }
                .sections {
                    grid-area: sections;
                    li {
                        display: block;
                    }
                }
                .social {
                    grid-area: social;
                    li a {
                        line-height: inherit;
                    }
                }
                .languages {
                    grid-area: languages;
                    line-height: 28px;
                }
                .social,
                .languages {
                    float: none;
                    display: flex;
                    width: 100%;
                    li {
                        flex-grow: 1;
                    }
                }
            }
        }
    }
}




// v2

@mixin sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:500,900|Roboto|Roboto+Slab|Ubuntu+Mono');

:root {
    --white: #ffffff;
    --black: #000000;
    --blue: #003aff;
    --purple: #4c008c;
    --pink: #c9197c;
    --green: #10ffb3;
    --primaryFont: 'Roboto', sans-serif;
    --textFont: 'Montserrat', sans-serif;
    --slabFont: 'Roboto Slab', serif;
    --monoFont: 'Ubuntu Mono', monospace;
}

body {
    font-family: var(--textFont);
}

.flex {
    display: flex;
}

.section-white {
    --backgroundColor: var(--white);
    --textColor: var(--black);
    --primaryColor: var(--pink);
    --primaryTextColor: var(--backgroundColor);
    --secondaryColor: var(--blue);
    --secondaryTextColor: var(--backgroundColor);
}
.section-blue {
    --backgroundColor: var(--blue);
    --textColor: var(--white);
    --primaryColor: var(--pink);
    --primaryTextColor: var(--white);
    --secondaryColor: var(--green);
    --secondaryTextColor: var(--white);
}
.section-purple {
    --backgroundColor: var(--purple);
    --textColor: var(--white);
    --primaryColor: var(--pink);
    --primaryTextColor: var(--white);
    --secondaryColor: var(--blue);
    --secondaryTextColor: var(--white);
}
.section-pink {
    --backgroundColor: var(--pink);
    --textColor: var(--white);
    --primaryColor: var(--white);
    --primaryTextColor: var(--pink);
    --secondaryColor: var(--blue);
    --secondaryTextColor: var(--white);
}

section {
    background-color: var(--backgroundColor);
    color: var(--textColor);
    padding-top: 6em;
    .container {
        max-width: 900px;
        margin: 0 auto;
        padding: .3em;
    }
    .title {
        font-weight: 500;
    }
    h1 {
        font-weight: 900;
        background-color: var(--primaryColor);
        color: var(--primaryTextColor);
        display: inline-block;
        margin-left: -.3em;
        margin-top: 2em;
        padding: .3em 1em .3em .3em;
        font-size: 2.2em;
        font-weight: 900;
        &:first-child {
            margin-top: 0;
        }
    }
    .wrapper > p, article > p {
        max-width: 40em;
        padding-right: 1.5em;
        &:last-child {
            padding-right: 0;
        }
    }
    ul.items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        --listIconWidth: 3em;
        --listIconPadding: 1em;
        li {
            --marginLeft: calc(var(--listIconWidth) + var(--listIconPadding));
            position: relative;
            width: calc(45% - var(--marginLeft));
            margin-left: var(--marginLeft);
            margin-bottom: 2em;
            &:before{
                display: inline-block;
                content: '';
                background-image: url('../images/circle.png');
                background-size: contain;
                background-repeat: no-repeat;
                width: var(--listIconWidth);
                height: 100%;
                position: absolute;
                left: calc(0px - var(--marginLeft));
            }
            .title {
                color: var(--primaryColor);
                font-weight: 600;
            }
        }
    }
    button, a.button {
        --line-height: 1.5em;
        --vertical-padding: .6em;
        font-size: 1.3em;
        line-height: var(--line-height);
        border-radius: calc(var(--line-height) / 2 + var(--vertical-padding)) / 50%;
        border: none;
        padding: var(--vertical-padding) 1.2em;
        background-color: var(--primaryColor);
        color: var(--primaryTextColor);
        &.block {
            display: block;
            width: 100%;
            margin-bottom: 1.5em;
        }
        &:hover {
            background-color: var(--black);
        }
        &.secondary {
            background-color: var(--green);
            color: var(--blue);
            &:hover {
                background-color: var(--blue);
                color: var(--green);
            }
        }
    }
    .wrapper {
        max-width: 900px;
        .text1 {
            max-width:600px;
        }
    }
}

//sessions

ul.sessions {
    > li {
        > p {
            font-family: var(--slabFont);
            font-size: 1.8em;
            line-height: 1.2em;
        }
        > ul {
            > li {
                background-color: white;
                color: black;
                margin: 1em 0;
                padding: 1.5em;
                .title {
                    grid-area: title;
                    color: var(--primaryTextColor);
                    font-size: 1.8em;
                    line-height: 1.2em;
                    margin: 0;
                }
                .description {
                    grid-area: description;
                    margin: 0;
                    font-family: var(--slabFont);
                    padding-top: 1em;
                }
                .room {
                    grid-area: room;
                    margin: 0;
                    color: #444;
                    font-size: .9em;
                }
                > ul {
                    margin: .3em 0 .6em;
                    grid-area: speakers;
                    > li {
                        display: inline;
                        &:not(:last-child):after {
                            content: ", ";
                        }
                    }
                }
                &:last-child {
                    margin-bottom: 4em;
                }

                @include media-query($on-laptop) {
                    &:not(.open) {
                        .description {
                            @include sr-only;
                        }
                    }
                }
            }
        }
    }




    @include media-query-over($on-laptop) {
        > li {
            > ul {
                > li {
                    display: grid;
                    grid-template-areas:
                    "title description"
                    "speakers description"
                    "room description";
                    grid-template-rows: auto auto 1fr;
                    > .description {
                        padding: 0;
                    }
                    > .title, > .room, > ul {
                        width: 300px;
                    }
                }
            }
        }
    }

    @include media-query-over($on-big) {
        > li {
            > p {
                position: sticky;
                top: 0;
                height: 3em;
                margin-top: 2em;
                margin-left: -5em;
                width: 4em;
                text-align: right;
                span {
                    display: inline-block;
                }
            }
            > ul {
                margin-top: -8.75em;
                margin-bottom: 7em;
            }
        }
    }
}


//speakers

ul.speakers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    --listIconWidth: 3em;
    --listIconPadding: 1em;
    > li {
        position: relative;
        width: 27%;
        @include media-query($on-palm) {
            width: 42%;
        }
        @include media-query($on-mini) {
            width: 94%;
        }

        margin-bottom: 2em;
        > img, > svg {
            border: .25em solid var(--secondaryColor);
            border-radius: 50%;
        }
        > svg {
            max-width: 90%;
            padding: 5%;
            fill: var(--primaryTextColor);
            background-color: var(--primaryColor);
        }
        .title {
            position: relative;
            top: -2em;
            margin-bottom: -2.5em;
            min-height: 6.5em;
            span {
                display: block;
                background-color: var(--secondaryColor);
                color: var(--secondaryTextColor);
                text-transform: uppercase;
                font-size: 1.3em;
                line-height: 1.3em;
                font-weight: 600;
                padding: .4em .6em;

            }
        }
    }
    ul.social {
        text-align: right;
        > li {
            display: inline-block;
            margin: 0 .4em;
            &:last-child {
                margin-right: 0;
            }
            svg {
                width: 1.5em;
                padding: .35em;
                fill: var(--primaryTextColor);
                background-color: var(--primaryColor);
                border-radius: 50%;
            }
            .name {
                @include sr-only;
            }
        }
    }
}


//communities

.communities {
    > ul, > div > ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        font-family: var(--textFont);
        > li {
            flex-basis: 25%;
            display: grid;
            grid-template-areas:
            "logo links"
            "name links";
            grid-template-columns: auto 2em;
            grid-template-rows: auto 100fr;
            min-width: 200px;
            box-sizing: border-box;
            text-align: center;
            padding: .5em;
            color: var(--pink);
            font-weight: 500;
            font-size: 1.2em;
            p {
                grid-area: name;
                padding-top: .5em;
                word-break: break-word;
            }
            .logo {
                position: relative;
                grid-area: logo;
                align-self: center;
                border: 1px solid #ccc;
                width: 100%;
                align-self: start;
                box-shadow: 0px 3px 5px #888888;
                &:before{
                    content: "";
                    display: block;
                    padding-top: 100%; 	/* initial ratio of 1:1*/
                }
                img {
                    position:  absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                }
            }
            ul {
                grid-area: links;
                    > li {
                    display: inline-block;
                    a {
                        display: inline-block;
                        margin: 0 .3em .3em 0;
                        line-height: 1em;
                        &:hover {
                            .icon {
                                svg {
                                    fill: var(--blue);
                                }
                            }
                        }
                        .icon {
                            svg {
                                width: 1em;
                                fill: var(--pink);
                                opacity: .6;
                            }
                        }
                        .name {
                            display: none;
                        }
                        p {
                            display: none;
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
        @include media-query($on-palm) {
            display: block;
            > li {
                max-width: 90vw;
                width: 100%;
                display: grid;
                grid-template-columns: 100px auto;
                grid-template-rows: auto 1fr;
                grid-column-gap: $spacing-unit / 3;
                grid-template-areas:
                    "logo name"
                    "logo links";
                text-align: left;
                p {
                    display: block;
                    margin-bottom: 0;
                }
                img {
                    width: 100px;
                }
                ul {
                    display: flex;
                    flex-wrap: wrap;
                }
            }
        }
    }
}


//

// h1. {
//     font-size: 6vw;
//     line-height: 1em;
//     -webkit-text-fill-color: transparent;
//     -webkit-text-stroke-width: 1px;
//     -webkit-text-stroke-color: var(--primaryColor);
//     text-shadow: -0.04em -.04em 0 var(--secondaryColor);
//     max-width: 40vw;
//     &.upper{
//         text-transform: uppercase;
//     }
//     &>span {
//         font-size: 1.3em;
//     }
// }

// .bt-dashed:after, .bb-dashed:after {
//     content: "";
//     display: block;
//     background-color: inherit;
//     border-bottom: 10px dashed;
// }
