<div class="home">

  <section class="section-1">
    <div class="container">
      <h1>Lorem, ipsum.</h1>
      <div class="flex">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic obcaecati distinctio sunt earum eos unde cumque nisi, numquam, pariatur quae, tenetur error omnis perferendis nihil libero magni. Odio aliquid quod dolores ut ea sint commodi culpa consectetur nostrum esse dolore fugiat, perspiciatis quos officiis velit omnis illo saepe? Ipsum nihil, debitis nam saepe mollitia qui aliquid accusamus molestias architecto ad?</p>
        <p><button class="block">Lorem.</button><button class="block secondary">Lorem, ipsum.</button></p>
      </div>
      <ul class="items">
        <li>
          <p class="title">Lorem, ipsum dolor.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est distinctio iure ad asperiores delectus, quam odio fugiat nihil quia minus!</p>
        </li>
        <li>
          <p class="title">Quibusdam, quam veritatis?</p>
          <p>Ipsam eos molestias nam pariatur saepe ullam sequi quis deleniti enim inventore assumenda iusto aspernatur, est tenetur dignissimos ex impedit!</p>
        </li>
        <li>
          <p class="title">Voluptatibus, accusantium ipsam?</p>
          <p>Veritatis molestias, vel expedita dolorem illum totam, minus delectus et voluptatem aliquid natus. Nemo pariatur corrupti voluptas! Obcaecati, debitis neque.</p>
        </li>
        <li>
          <p class="title">Magni, quaerat unde?</p>
          <p>Laborum provident a voluptatum asperiores soluta amet, officiis sit quam dolor inventore molestias facilis unde minus itaque eaque, perspiciatis nostrum?</p>
        </li>
      </ul>
      <p>
        <button>Lorem.</button><button class="secondary">Lorem, ipsum.</button>
        <h1>Speakers</h1>
        <ul class="speakers">
          <li>
            <img src="http://lorempixel.com/400/400/cats/1/" alt="">
            <p class="title"><span>Lorem, ipsum.</span></p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus eaque cum ex eum, hic debitis cumque iusto placeat quisquam nesciunt.
              <ul class="social">
                <li>{% include icon-social.html url='http://twitter.com/vlctechhub' %}</li>
                <li>{% include icon-social.html url='http://www.facebook.com/vlctechhub' %}</li>
                <li>
                  {% include icon-social.html url='http://youtube.com/vlctechhub' %}
                </li>
              </ul>
            </p>
          </li>
          <li>
            <img src="http://lorempixel.com/400/400/cats/2/" alt="">
            <p class="title"><span>Aut, distinctio?</span></p>
            <p>
              Cumque, ipsa, consectetur optio excepturi sapiente aperiam fugiat unde nisi tempora hic placeat veritatis odio harum libero? Explicabo, minima aut.
              <ul class="social">
                <li>{% include icon-social.html url='http://twitter.com/vlctechhub' %}</li>
                <li>{% include icon-social.html url='http://www.facebook.com/vlctechhub' %}</li>
                <li>
                  {% include icon-social.html url='http://youtube.com/vlctechhub' %}
                </li>
              </ul>
            </p>
          </li>
          <li>
            <img src="http://lorempixel.com/400/400/cats/3/" alt="">
            <p class="title"><span>Earum, voluptatum.</span></p>
            <p>
              Quas voluptatum vitae quis quasi delectus, quaerat ipsam hic eos natus dicta minus explicabo vel. Repellat harum perferendis autem aliquam.
              <ul class="social">
                <li>{% include icon-social.html url='http://twitter.com/vlctechhub' %}</li>
                <li>{% include icon-social.html url='http://www.facebook.com/vlctechhub' %}</li>
                <li>
                  {% include icon-social.html url='http://youtube.com/vlctechhub' %}
                </li>
              </ul>
            </p>
          </li>
          <li>
            <img src="http://lorempixel.com/400/400/cats/4/" alt="">
            <p class="title"><span>Nisi, illum!</span></p>
            <p>
              Hic velit consequuntur debitis neque dignissimos sunt quam illo, voluptatibus pariatur, nesciunt nihil unde. Voluptatibus beatae modi corporis rerum pariatur.
              <ul class="social">
                <li>{% include icon-social.html url='http://twitter.com/vlctechhub' %}</li>
                <li>{% include icon-social.html url='http://www.facebook.com/vlctechhub' %}</li>
                <li>
                  {% include icon-social.html url='http://youtube.com/vlctechhub' %}
                </li>
              </ul>
            </p>
          </li>
          <li>
            <img src="http://lorempixel.com/400/400/cats/5/" alt="">
            <p class="title"><span>Veniam, est?</span></p>
            <p>
              Omnis saepe excepturi at, ratione similique, qui eum ad tenetur quas temporibus rerum dolorum laudantium, cupiditate consectetur iusto nemo ex.
              <ul class="social">
                <li>{% include icon-social.html url='http://twitter.com/vlctechhub' %}</li>
                <li>{% include icon-social.html url='http://www.facebook.com/vlctechhub' %}</li>
                <li>
                  {% include icon-social.html url='http://youtube.com/vlctechhub' %}
                </li>
              </ul>
            </p>
          </li>
          <li>
            <img src="http://lorempixel.com/400/400/cats/6/" alt="">
            <p class="title"><span>Provident, assumenda!</span></p>
            <p>
              Modi sit odit obcaecati placeat perspiciatis. Quisquam amet quam magni placeat ducimus labore, corrupti hic a cupiditate, laborum soluta accusantium?
              <ul class="social">
                <li>{% include icon-social.html url='http://twitter.com/vlctechhub' %}</li>
                <li>{% include icon-social.html url='http://www.facebook.com/vlctechhub' %}</li>
                <li>
                  {% include icon-social.html url='http://youtube.com/vlctechhub' %}
                </li>
              </ul>
            </p>
          </li>
        </ul>
      </p>
    </div>
  </section>
  <section class="section-2">
    <div class="container">
      <h1>Perspiciatis, voluptate?</h1>
      <div class="flex">
        <p>In libero quaerat distinctio ipsa eius minima dolor corrupti perspiciatis aliquid vitae ipsum tenetur facere omnis earum incidunt natus itaque neque, fuga sit hic possimus nostrum, dolorum voluptatem ullam! Corrupti dolore aliquid soluta doloribus repellat laboriosam ipsa quae eligendi quaerat numquam quidem accusantium id dignissimos voluptate consectetur quisquam, cumque expedita natus voluptas illum neque vitae unde deleniti? Voluptatum, eveniet inventore.</p>
        <p><button class="block">Distinctio.</button><button class="block secondary">Aliquam, tempora.</button></p>
      </div>
      <ul class="items">
        <li>
          <p class="title">Eius, est at?</p>
          <p>Totam vel expedita maiores cupiditate dolore quidem necessitatibus omnis eveniet, ullam fuga doloribus quam nesciunt blanditiis harum ea laborum repellat!</p>
        </li>
        <li>
          <p class="title">Reprehenderit, repellat suscipit!</p>
          <p>Laboriosam laudantium quo quidem quaerat eveniet blanditiis pariatur expedita beatae tempore recusandae, earum eaque perferendis nemo quos minima amet alias.</p>
        </li>
        <li>
          <p class="title">Rerum, temporibus est.</p>
          <p>Laboriosam odio ratione quia doloremque est officiis dolores nobis, sunt perspiciatis amet corrupti nisi laudantium cum quas eos ut accusamus.</p>
        </li>
        <li>
          <p class="title">Nam, itaque atque?</p>
          <p>Reprehenderit, consequuntur, mollitia inventore distinctio enim sit vitae reiciendis doloribus ipsa laboriosam incidunt culpa voluptates optio, molestias beatae labore sed.</p>
        </li>
      </ul>
      <p>
        <button>Architecto.</button><button class="secondary">Saepe, incidunt.</button>
        <h1>Speakers</h1>
        <ul class="speakers">
          <li>
            <img src="http://lorempixel.com/400/400/cats/1/" alt="">
            <p class="title"><span>Totam, incidunt!</span></p>
            <p>
              Minus obcaecati necessitatibus cum labore. Voluptatem possimus quidem animi dolor? Quos quis ipsa vitae esse aliquid nemo quae quo mollitia?
              <ul class="social">
                <li>{% include icon-social.html url='http://twitter.com/vlctechhub' %}</li>
                <li>{% include icon-social.html url='http://www.facebook.com/vlctechhub' %}</li>
                <li>
                  {% include icon-social.html url='http://youtube.com/vlctechhub' %}
                </li>
              </ul>
            </p>
          </li>
          <li>
            <img src="http://lorempixel.com/400/400/cats/2/" alt="">
            <p class="title"><span>Nulla, voluptatem.</span></p>
            <p>
              Pariatur veniam enim laudantium dolores sit saepe quia molestias, rerum repudiandae voluptate perferendis, impedit excepturi, dolorum voluptatibus! Et, quisquam quos!
              <ul class="social">
                <li>{% include icon-social.html url='http://twitter.com/vlctechhub' %}</li>
                <li>{% include icon-social.html url='http://www.facebook.com/vlctechhub' %}</li>
                <li>
                  {% include icon-social.html url='http://youtube.com/vlctechhub' %}
                </li>
              </ul>
            </p>
          </li>
          <li>
            <img src="http://lorempixel.com/400/400/cats/3/" alt="">
            <p class="title"><span>Dolorum, saepe.</span></p>
            <p>
              Assumenda placeat nihil enim, impedit maxime facere nemo quae tempore cum consectetur a minima neque porro sapiente animi beatae quam!
              <ul class="social">
                <li>{% include icon-social.html url='http://twitter.com/vlctechhub' %}</li>
                <li>{% include icon-social.html url='http://www.facebook.com/vlctechhub' %}</li>
                <li>
                  {% include icon-social.html url='http://youtube.com/vlctechhub' %}
                </li>
              </ul>
            </p>
          </li>
          <li>
            <img src="http://lorempixel.com/400/400/cats/4/" alt="">
            <p class="title"><span>Quaerat, culpa.</span></p>
            <p>
              Minus perspiciatis nihil provident odio iste in officiis sit aliquam at temporibus! Perferendis, blanditiis! Animi quo quia neque blanditiis beatae?
              <ul class="social">
                <li>{% include icon-social.html url='http://twitter.com/vlctechhub' %}</li>
                <li>{% include icon-social.html url='http://www.facebook.com/vlctechhub' %}</li>
                <li>
                  {% include icon-social.html url='http://youtube.com/vlctechhub' %}
                </li>
              </ul>
            </p>
          </li>
          <li>
            <img src="http://lorempixel.com/400/400/cats/5/" alt="">
            <p class="title"><span>Reprehenderit, error!</span></p>
            <p>
              Possimus dolores nam voluptatibus voluptatum exercitationem nostrum obcaecati saepe omnis suscipit unde facilis neque, voluptatem, ducimus dolorem tempore eos beatae.
              <ul class="social">
                <li>{% include icon-social.html url='http://twitter.com/vlctechhub' %}</li>
                <li>{% include icon-social.html url='http://www.facebook.com/vlctechhub' %}</li>
                <li>
                  {% include icon-social.html url='http://youtube.com/vlctechhub' %}
                </li>
              </ul>
            </p>
          </li>
          <li>
            <img src="http://lorempixel.com/400/400/cats/6/" alt="">
            <p class="title"><span>Expedita, dolores?</span></p>
            <p>
              Possimus nobis deleniti cumque reprehenderit tempora sapiente temporibus sint, eveniet doloremque vero tenetur iure, quibusdam libero, iste perferendis ea praesentium.
              <ul class="social">
                <li>{% include icon-social.html url='http://twitter.com/vlctechhub' %}</li>
                <li>{% include icon-social.html url='http://www.facebook.com/vlctechhub' %}</li>
                <li>
                  {% include icon-social.html url='http://youtube.com/vlctechhub' %}
                </li>
              </ul>
            </p>
          </li>
        </ul>
      </p>
    </div>
  </section>
  <section class="section-3">
    <div class="container">
      <h1>Molestias, ipsam?</h1>
      <div class="flex">
        <p>Impedit dignissimos nobis quod rem sit minus veritatis possimus, dicta tempore dolores animi consequuntur esse obcaecati dolorem sequi dolorum dolore harum aspernatur nihil quisquam nisi labore cumque. Veniam impedit, quis doloribus voluptates vitae doloremque! Dolorem, animi incidunt! Quam doloribus vitae ipsam corporis! Quod, nisi. Quaerat modi rem velit sunt maxime impedit nam, dolor, quia nesciunt deserunt commodi quam eos porro?</p>
        <p><button class="block">Dolorum.</button><button class="block secondary">Esse, totam.</button></p>
      </div>
      <ul class="items">
        <li>
          <p class="title">Eos, ad facilis!</p>
          <p>Accusamus aperiam perferendis corrupti neque, at voluptates error modi vitae aliquid optio nisi odio sequi, qui a maiores veniam quaerat?</p>
        </li>
        <li>
          <p class="title">Voluptatum, consequatur suscipit.</p>
          <p>Repudiandae dolor culpa nostrum commodi tempore eius harum itaque. Saepe, provident. Eveniet veniam quibusdam natus quas aspernatur consequuntur ipsam beatae?</p>
        </li>
        <li>
          <p class="title">Alias, dolorem at.</p>
          <p>Vel natus voluptas dolores quis minus maxime totam nemo voluptates, facere unde eius repellat ullam vitae error architecto expedita id.</p>
        </li>
        <li>
          <p class="title">Facilis, fugiat iste?</p>
          <p>Soluta veniam eum, autem consectetur adipisci praesentium quos optio harum asperiores corrupti ea blanditiis error facilis magni, fugiat accusamus commodi.</p>
        </li>
      </ul>
      <p>
        <button>Error.</button><button class="secondary">Dolor, quae.</button>
        <h1>Speakers</h1>
        <ul class="speakers">
          <li>
            <img src="http://lorempixel.com/400/400/cats/1/" alt="">
            <p class="title"><span>Inventore, fugit?</span></p>
            <p>
              Deleniti iusto distinctio aspernatur, culpa, delectus suscipit eius quo et, doloremque reprehenderit eos. Consectetur nulla dicta architecto optio animi laudantium.
              <ul class="social">
                <li>{% include icon-social.html url='http://twitter.com/vlctechhub' %}</li>
                <li>{% include icon-social.html url='http://www.facebook.com/vlctechhub' %}</li>
                <li>
                  {% include icon-social.html url='http://youtube.com/vlctechhub' %}
                </li>
              </ul>
            </p>
          </li>
          <li>
            <img src="http://lorempixel.com/400/400/cats/2/" alt="">
            <p class="title"><span>Mollitia, adipisci!</span></p>
            <p>
              Hic officia quae omnis voluptate soluta, dicta ab architecto sint tempora nemo! Aut, inventore deleniti vel omnis repellat reprehenderit esse.
              <ul class="social">
                <li>{% include icon-social.html url='http://twitter.com/vlctechhub' %}</li>
                <li>{% include icon-social.html url='http://www.facebook.com/vlctechhub' %}</li>
                <li>
                  {% include icon-social.html url='http://youtube.com/vlctechhub' %}
                </li>
              </ul>
            </p>
          </li>
          <li>
            <img src="http://lorempixel.com/400/400/cats/3/" alt="">
            <p class="title"><span>Accusamus, harum.</span></p>
            <p>
              Blanditiis, voluptas commodi! Praesentium fuga culpa magni, nihil labore assumenda, enim nemo vero ab voluptatum eum illo, nisi cumque veniam?
              <ul class="social">
                <li>{% include icon-social.html url='http://twitter.com/vlctechhub' %}</li>
                <li>{% include icon-social.html url='http://www.facebook.com/vlctechhub' %}</li>
                <li>
                  {% include icon-social.html url='http://youtube.com/vlctechhub' %}
                </li>
              </ul>
            </p>
          </li>
          <li>
            <img src="http://lorempixel.com/400/400/cats/4/" alt="">
            <p class="title"><span>Iure, ipsa!</span></p>
            <p>
              Eum corrupti, temporibus iure provident, mollitia hic nemo reiciendis quos perferendis perspiciatis quam optio excepturi, pariatur sed esse exercitationem fugit.
              <ul class="social">
                <li>{% include icon-social.html url='http://twitter.com/vlctechhub' %}</li>
                <li>{% include icon-social.html url='http://www.facebook.com/vlctechhub' %}</li>
                <li>
                  {% include icon-social.html url='http://youtube.com/vlctechhub' %}
                </li>
              </ul>
            </p>
          </li>
          <li>
            <img src="http://lorempixel.com/400/400/cats/5/" alt="">
            <p class="title"><span>Voluptate, odio!</span></p>
            <p>
              Tenetur unde architecto reiciendis modi, odio deleniti veniam distinctio enim magni fugiat voluptates consequatur illum vero doloribus minima suscipit sapiente?
              <ul class="social">
                <li>{% include icon-social.html url='http://twitter.com/vlctechhub' %}</li>
                <li>{% include icon-social.html url='http://www.facebook.com/vlctechhub' %}</li>
                <li>
                  {% include icon-social.html url='http://youtube.com/vlctechhub' %}
                </li>
              </ul>
            </p>
          </li>
          <li>
            <img src="http://lorempixel.com/400/400/cats/6/" alt="">
            <p class="title"><span>Vero, temporibus?</span></p>
            <p>
              Temporibus et ex numquam quia consequuntur optio eum voluptatum pariatur asperiores quo recusandae incidunt, tenetur dolor esse, laboriosam, facilis expedita?
              <ul class="social">
                <li>{% include icon-social.html url='http://twitter.com/vlctechhub' %}</li>
                <li>{% include icon-social.html url='http://www.facebook.com/vlctechhub' %}</li>
                <li>
                  {% include icon-social.html url='http://youtube.com/vlctechhub' %}
                </li>
              </ul>
            </p>
          </li>
        </ul>
      </p>
    </div>
  </section>
  <section class="section-4">
    <div class="container">
      <h1>Explicabo, dolores?</h1>
      <div class="flex">
        <p>Sed maxime corporis totam error et nostrum non reiciendis id obcaecati, aperiam, dolorum adipisci consectetur dignissimos quod illum voluptatum! Earum, natus officiis? Recusandae veniam perferendis neque expedita beatae laboriosam nihil adipisci enim aperiam. Inventore nihil eligendi omnis hic voluptatum iste, quam blanditiis obcaecati laboriosam pariatur quibusdam, ut dolores, voluptatibus exercitationem velit natus modi porro totam itaque saepe magnam accusamus? Voluptatem!</p>
        <p><button class="block">Harum!</button><button class="block secondary">Fugit, tempora.</button></p>
      </div>
      <ul class="items">
        <li>
          <p class="title">Eligendi, vel blanditiis.</p>
          <p>Quia, nam! Quas, voluptatem corrupti rerum ab, non accusamus architecto deleniti, eos obcaecati repudiandae laborum quisquam exercitationem in magni enim!</p>
        </li>
        <li>
          <p class="title">Earum, voluptatibus alias?</p>
          <p>Rerum, sequi dicta ratione odio culpa saepe reprehenderit, aut delectus aperiam, dolorum doloribus sapiente. Dolores ratione ex inventore dolorum qui.</p>
        </li>
        <li>
          <p class="title">Aut, quidem est!</p>
          <p>Nostrum ipsa eius, id soluta quae ab dolores mollitia commodi cumque adipisci totam ea, quos dolorem autem nemo excepturi accusantium.</p>
        </li>
        <li>
          <p class="title">Quo, facere numquam.</p>
          <p>Nostrum qui architecto veritatis at ipsam delectus, atque odit suscipit nihil iure nisi, fuga labore incidunt doloribus dolorum explicabo cum.</p>
        </li>
      </ul>
      <p>
        <button>Minus?</button><button class="secondary">Esse, sapiente!</button>
        <h1>Speakers</h1>
        <ul class="speakers">
          <li>
            <img src="http://lorempixel.com/400/400/cats/1/" alt="">
            <p class="title"><span>Aliquid, harum?</span></p>
            <p>
              Eius vel aut quisquam eaque quaerat quod sapiente fugiat cupiditate, doloribus quos repellendus, similique, voluptates cum error beatae tempore eveniet!
              <ul class="social">
                <li>{% include icon-social.html url='http://twitter.com/vlctechhub' %}</li>
                <li>{% include icon-social.html url='http://www.facebook.com/vlctechhub' %}</li>
                <li>
                  {% include icon-social.html url='http://youtube.com/vlctechhub' %}
                </li>
              </ul>
            </p>
          </li>
          <li>
            <img src="http://lorempixel.com/400/400/cats/2/" alt="">
            <p class="title"><span>Mollitia, nam!</span></p>
            <p>
              Beatae quo ad natus et nulla sunt at maxime exercitationem dolorem aut, dolorum vero vitae unde odit, rerum deserunt quidem!
              <ul class="social">
                <li>{% include icon-social.html url='http://twitter.com/vlctechhub' %}</li>
                <li>{% include icon-social.html url='http://www.facebook.com/vlctechhub' %}</li>
                <li>
                  {% include icon-social.html url='http://youtube.com/vlctechhub' %}
                </li>
              </ul>
            </p>
          </li>
          <li>
            <img src="http://lorempixel.com/400/400/cats/3/" alt="">
            <p class="title"><span>Earum, enim!</span></p>
            <p>
              Iste laudantium nemo eaque a voluptas fugit, unde accusamus reiciendis asperiores, in, quam quasi. Hic accusamus sint veritatis exercitationem animi.
              <ul class="social">
                <li>{% include icon-social.html url='http://twitter.com/vlctechhub' %}</li>
                <li>{% include icon-social.html url='http://www.facebook.com/vlctechhub' %}</li>
                <li>
                  {% include icon-social.html url='http://youtube.com/vlctechhub' %}
                </li>
              </ul>
            </p>
          </li>
          <li>
            <img src="http://lorempixel.com/400/400/cats/4/" alt="">
            <p class="title"><span>Provident, unde.</span></p>
            <p>
              Amet quo commodi sequi voluptas, repellendus saepe numquam? Minima voluptates animi iure ut mollitia suscipit libero reiciendis quas consequuntur quis!
              <ul class="social">
                <li>{% include icon-social.html url='http://twitter.com/vlctechhub' %}</li>
                <li>{% include icon-social.html url='http://www.facebook.com/vlctechhub' %}</li>
                <li>
                  {% include icon-social.html url='http://youtube.com/vlctechhub' %}
                </li>
              </ul>
            </p>
          </li>
          <li>
            <img src="http://lorempixel.com/400/400/cats/5/" alt="">
            <p class="title"><span>Nesciunt, hic.</span></p>
            <p>
              Corrupti voluptatibus repellat dicta dolor minima debitis beatae. Delectus placeat quasi ab minima culpa nobis eos maiores modi neque! Sit.
              <ul class="social">
                <li>{% include icon-social.html url='http://twitter.com/vlctechhub' %}</li>
                <li>{% include icon-social.html url='http://www.facebook.com/vlctechhub' %}</li>
                <li>
                  {% include icon-social.html url='http://youtube.com/vlctechhub' %}
                </li>
              </ul>
            </p>
          </li>
          <li>
            <img src="http://lorempixel.com/400/400/cats/6/" alt="">
            <p class="title"><span>Enim, expedita?</span></p>
            <p>
              Vero veniam odio labore officiis sequi vitae provident ex! Totam a quod fuga esse laboriosam, libero omnis id asperiores odio!
              <ul class="social">
                <li>{% include icon-social.html url='http://twitter.com/vlctechhub' %}</li>
                <li>{% include icon-social.html url='http://www.facebook.com/vlctechhub' %}</li>
                <li>
                  {% include icon-social.html url='http://youtube.com/vlctechhub' %}
                </li>
              </ul>
            </p>
          </li>
        </ul>
      </p>
    </div>
  </section>





  <section class="section-1">
      {%- include sections/communities.html -%}
  </section>

</div>
