{%- assign redirect_to = page.redirect.to -%}
{%- for target_page in site.pages -%}
  {%- assign target_page_absolute_url = target_page.url | absolute_url -%}
  {%- if target_page_absolute_url == redirect_to -%}
    {%- assign page = target_page -%}
    {%- break -%}
  {%- endif -%}
{%- endfor -%}
<!DOCTYPE html>
<html lang="{{ site.locale[page.lang] | replace: '_', '-' }}">
  <meta charset="utf-8">
  {% include meta-facebook.html %}
  {% include meta-twitter.html %}
  <title>Redirecting&hellip;</title>
  <link rel="canonical" href="{{ redirect_to }}">
  <script>location="{{ redirect_to }}"</script>
  <meta http-equiv="refresh" content="0; url={{ redirect_to }}">
  <meta name="robots" content="noindex">
  <h1>Redirecting&hellip;</h1>
  <a href="{{ redirect_to }}">Click here if you are not redirected.</a>
</html>
